[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = [
  "pnpm turbo build --filter=@checkpoint/api",
  "cd apps/api && pnpm db:generate"
]

[start]
cmd = "cd apps/api && pnpm db:migrate:prod && node dist/main.js"
